body{
    width: 1280px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:  #35444F;
    margin-top: 38px;
}
.header-menu-item{
    border-left: 1px solid white;

}
.header-menu a{
    padding: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: white;
    display: inline-block;

}
.header-title{
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
}
.header-title-content{
    color:rgb(75, 202, 255)  ;
}
.header-menu li:hover{
    color: white;
    background-color: #222F3A ;
}
.header-menu-item2{
    border-right: 1px Solid white;
}
.nav_list{
    width: 344px;
    border: 1px solid #000000;
}
.list_item a{
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 80px;
    align-items: center;
    display: flex;
    padding-left: 44px;
}
.ramda_photo{
    width: 320px;
    height: 381px;
}
.main-position{
  display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "nav aside"
    ". main";
    grid-column-gap: 37px;
    grid-row-gap: 52px;
    margin-top:48px ;
}
.nav{
    grid-area: nav;
}
.aside{
    width: 837px;
    height: 529px;
    border: 1px solid black;
    grid-area: aside;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    grid-area: main;
}
.main-content{
   padding-top: 34px;
}
.header-title a{
    color: Black;
}
.nav_list a{
    color: #485863;
}
.main p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    color: #2C2C2C;
}
.footer-menu{
    height: 69px;
    display: flex;
    align-items: center;
padding-top: 10px;
}
.footer_item:not(:first-child) {
padding-left: 20px;
}
.list_item a:hover{
    background-color: gray;
    padding-left: 69px;
    transition: padding-left .3s;
}
.footer{
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    padding: 0 40px;

}
.footer_item a{
    display: inline-block;
    box-sizing: border-box;
    height: 36px;
    text-decoration: none;
    font-size: 28px;
    line-height: 100%;
    color: Black;
}
.footer-menu a:hover{
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}
.Copyright{
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    align-self: center;

}
